	<% layout('../views/Layout/boilerplate.ejs') %>
	<h1>Campgrounds Show</h1>
	<h2><%=campground.title%></h2>
	<h3><%=campground.location%></h3>
	<img src="<%= campground.image %>" alt="">
	<a href="/campgrounds/<%= campground._id %>/edit">EDIT</a>
	<form action="/campgrounds/<%= campground._id%>?_method=DELETE" method="POST">
		<button>DELETE</button>
	</form>
	<form action="/campgrounds/<%=campground._id%>/reviews" method="POST">
		<div class="mb-3">
			<label class="form-label" for="rating">Rating</label>	
			<input class="form-range" type="range" min="1" max="5" name="review[rating]" id="rating">
		</div>
		<div class="mb-3">
			<label class="form-label" for="body">Review</label>
			<textarea class="form-control" name="review[body]" id="body" cols="30" rows="3"></textarea>
		</div>
		<button class="mb-3 btn btn-success">Add Review</button>
	</form>
	<% for(let review of campground.reviews){ %>
		<div class="mb-3">
			<p> Rating : <%= review.rating %> </p>
			<p> Review : <%= review.body %> </p>
		</div>
	<% } %>